@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: #dd5e89;
  background: -webkit-linear-gradient(to right, #f7bb97, #dd5e89);
  background: linear-gradient(to right, #f7bb97, #dd5e89);
} */

body {
  /* background: linear-gradient(to right, rgb(255, 228, 230), rgb(204, 251, 241)); */
  background: white;
  font-family: "Rubik", sans-serif;
}

.__MULTI_SELECT__ {
}

.__MULTI_SELECT__ .dropdown-container {
  background-color: transparent !important;
}

.App {
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%;
}

.make-me-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-play-state: running;
}

.stop-the-shake {
  animation-play-state: paused;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
